//$maxMobile: 767px;
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minLarge:"(min-width: 1200px)";
$minMedium: "(min-width: 992px)"; //inter polation way

$mainColor:#e2494c;
$grayColor:#9c9c9c;
$redColor:#d60d0d;

$float-left: left;
$float-right :right;

$text-left: left;
$text-right :right;